@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');


body {
    background: linear-gradient(rgb(152, 94, 152), rgb(125, 152, 179));
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 30px;
    height: 100%;
    background-attachment: fixed;
    margin: 0;
    /* overflow: hidden; */
}

/* .border {
    border: 1vw solid rgb(57, 25, 57);
    height: 96vh;
    width: 98vw;
    position: absolute;
    top: 0;
    left: 0;
} */

#quiz-container {
    margin: 60px;
    padding: 20px;
}

.back {
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.back:hover {
    background-color: rgb(143, 50, 131);
    color: rgb(220, 227, 235);
}

#timer {
    border: 10px solid rgb(57, 25, 57);
    border-radius: 40%;
    width: 10px;
    height: 10px;
    padding: 30px;
    margin: 30px;
    font-size: 20px;
    font-family: 'Phudu';
    color: rgb(57, 25, 57);

}

.timer_css {
    position: absolute;
    top: 60px;
    left: 5px;
}

#progressBar {
    width: 40%;
    height: 50px;
    margin-bottom: 30px;
}

.question {
    font-size: 2em;
    font-family: 'Phudu';
    font-weight: 600;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    width: 100%;
}

.noTransition {
    transition: none;
}

button {
    border-radius: 20px;
    border: 4px solid rgb(193, 187, 100);
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(1, 1, 54);
    color: rgb(220, 227, 235);
    font-size: 1em;
    font-family: 'Phudu';
    font-weight: 400;
    height: 90px;
    transition: all 0.4s ease-in-out;
    margin: 20px;
}

button:hover {
    background-color: rgb(73, 54, 91);
    color: white;
    font-size: 30px;
}

.button-container {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.answer-img {
    margin-top: 20px;
    object-fit: cover;
    width: 350px;
    border: 5px solid rgb(57, 25, 57);
    border-radius: 20px;
    margin-left: calc(50% - 200px);
}