body{
    background: linear-gradient(rgb(152, 94, 152), rgb(125, 152, 179));
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 10px solid rgb(57, 25, 57);
    padding: 10px;
    height: 100vh;
}

h1{
    font-size: 4.3em;
}
.img_culture_quizz{
    border: 5px solid rgb(57, 25, 57);
    border-radius: 20%;
}

p{
    font-size: 1.8em;
}

.p_attention{
    font-size: 1em;
    color: purple;
}

.demarrer_button{
    text-decoration: none;
    font-size: 1.5em;
    cursor: pointer;
}

.demarrer_button:hover{
    background-color: rgb(143, 50, 131);
    color: rgb(220, 227, 235);
}
