body{
    background: linear-gradient(rgb(152, 94, 152), rgb(125, 152, 179));
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 5px solid rgb(57, 25, 57);
    padding-top: 20px;
    overflow: hidden;
    font-family: 'Phudu';
    height: 100vh; 
    margin: 0;
}

h1{
    font-size: 2em;
}

.img_culture_quizz{
    border: 2px solid rgb(57, 25, 57);
    border-radius: 20px;
    height: 100px;
}

p{
    font-size: 1em;
}

.p_attention{
    font-size: 0.8em;
    color: purple;
    padding-top: 10px;
}

.demarrer_button{
    text-decoration: underline;
    font-size: 1.3em;
    cursor: pointer;
}

.demarrer_button:hover{
    background-color: rgb(143, 50, 131);
    color: rgb(220, 227, 235);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(57, 25, 57);
    color: white;
    text-align: center;
    font-weight: 100;
}


/* =====================
   RESPONSIVE
===================== */
@media (max-width: 768px) {
    body {
    /* text-align: center;   */
    padding-top: 10px;
    /* min-height: 100vh; */
    }

    .demarrer_button{
        font-size: 1.1em;
    }
    .p_attention{
        margin-top: 30px;
        font-size: 0.7em;
    }
    p{
        font-size: 0.9em;
    }
    footer{
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    body{
        padding-top: 10px;
    }
    h1{
        font-size: 1.3em;
    }
    p{
        font-size: 0.8em;
    }
    .demarrer_button{
        font-size: 0.9em;
    }
    .p_attention{
        margin-top: 30px;
        font-size: 0.7em;
    }
    footer{
        font-size: 0.7em;
    }
}

@media (max-width: 380px) {
    body{
        padding-top: 10%;
    }
    .img_culture_quizz{
    border: 2px solid rgb(57, 25, 57);
    border-radius: 20px;
    height: 100px;
}
    h1{
        font-size: 1em;
    }
    p{
        font-size: 0.9em;
    }
    .p_attention{
        margin-top: 30px;
        font-size: 0.9em;
    }
    footer{
        font-size: 0.9em;
    }
}