body{
    background: linear-gradient(rgb(152, 94, 152), rgb(125, 152, 179));
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 10px solid rgb(57, 25, 57);
    padding: 10px;
    /* overflow: hidden; */
    font-family: 'Phudu';
    height: 100vh; 
    margin: 0;
    padding: 0;
}


h1{
    margin-top: 20px;
    font-size: 1.5em;
}

.img_culture_quizz{
    border: 5px solid rgb(57, 25, 57);
    border-radius: 20%;
    height: 100px;
}

p{
    font-size: 0.8em;
}

.p_attention{
    font-size: 0.7em;
    color: purple;
    margin-top: 10px;
}

.demarrer_button{
    text-decoration: underline;
    font-size: 1em;
    cursor: pointer;
}

.demarrer_button:hover{
    background-color: rgb(143, 50, 131);
    color: rgb(220, 227, 235);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(57, 25, 57);
    color: white;
    text-align: center;
    padding: 5px;
    height: 50px;
}